.swiper-wrapper {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.swiper-slide {
    display: flex;
    justify-content: space-between;
    padding: 4em 1.5em;
    width: 100%;
    height: 100%;
}

.swipe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem;
    width: 100%;
    height: 100%;

}

.swiper-slide h1 {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.swiper-container {
    width: 100%;
    height: 100%;

}

.display-container {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(15, 1, 1, 0.753), rgba(6, 6, 7, 0.952)), url("..//../public/novelPics/solar2.jpg");

}