.progress-bar {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 1vh;
    background-color: white;
}

.filled {
    width: 0;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(103, 78, 126), rgb(62, 45, 218));

}

:root {
    --primary-color: var(rgb(7, 4, 104));
}


.header-logo {
    height: 90px;
    width: 90px;

}

.header-logo img {
    width: 100%;
}



/* header .navbar ul li {
    position: relative;
    float: left;

} */

/* .navbar ul li a {
    font-size: 15px;
    font-weight: 700;
    color: rgb(62, 6, 151);
    display: block;
    padding: 9px;
    text-transform: uppercase;
} */




/* header .navbar ul li ul {
    position: absolute;
    left: -100px;
    width: 200px;
    background-color: rgb(32, 9, 58);
    display: none;
    z-index: 10;

} */

header .navbar ul li .account-link {
    left: -80px;
    background-color: rgb(232, 240, 240);
    width: 170px;
    border-radius: 7px;
    padding: 0;
}

header .navbar ul li .account-link button {
    background-color: rgb(32, 9, 58);
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    border: none;
    outline: none;
    font-weight: 700;
    padding: 6px 3px;
    color: white;
}

/* header .navbar ul li ul li {
    width: 100%;
}

header .navbar ul li ul li a {
    font-size: 14px;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
}

header .navbar ul li ul li ul {
    left: 170px;
    top: 0;
    background-color: rgb(32, 9, 58);
} */



#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: red;
    cursor: pointer;
    display: none;
}

.header-quote {
    display: flex;
    width: 25%;
    justify-content: center;
    gap: 9px;
    align-items: center;

}

.fa-cart-shopping {
    position: relative;
}

.fa-circle-user {
    display: none;
}

.fa-cart-shopping span {
    color: white;
    background-color: orange;
    position: absolute;
    font-size: 10px;
    right: -5px;
    top: -7px;
    padding: 5px;
    border-radius: 50%;

}

i.fa-gratipay,
i.fa-cart-shopping {
    border-radius: 3px;
    cursor: pointer;
    font-size: 27px;
    color: rgb(40, 39, 44);

}

.header-quote a.quote {
    padding: 5px 12px;
    background-color: orange;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}

.search {
    display: flex;
}

.search input {
    width: 80%;
    border: 1px solid rgb(237, 234, 240);
    padding: 0 5px;

}

.search a {
    background-color: orange;
    padding: 5px;
    color: white;
    width: 20%;
    text-align: center;
}

i.fa-bars {
    color: black;
    font-size: 30px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(44, 42, 43);
    cursor: pointer;


}

::-webkit-scrollbar-thumb {
    background-color: rgb(87, 87, 168);
    border-radius: 20px;
}

@media(max-width:995px) {

    .header-quote {
        width: 40%;
    }

    a.quote {
        display: none;
    }

    .fa-circle-user {
        display: inline-block;
    }



    header label {
        display: initial;
    }

    header .navbar ul li {
        width: 100%;
    }

    /* header .navbar ul li ul {
        position: relative;
        width: 100%;
    }


    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    } */

    #menu-bar:checked~.navbar {
        display: initial;
    }

}

header .navbar ul li .account-list {
    left: -110px;
    width: 180px;
    padding: 0;
    top: 38px;

}

header .navbar ul li .account-list li button {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
}



.enquiry {
    margin-top: 9%;
    display: inline;
    justify-content: flex-start;

    width: 100%;
}

.enquiry a {
    display: inline-block;
    padding: 10px 10px;
    font-size: 21px;
    color: white;
    margin: 5px;

}

.enquiry a:hover {
    background-color: rgb(7, 4, 104) !important;
}

.swiper-content,
.image {
    flex-basis: 45%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.icons .fa-bars {
    display: none;
}

.swiper nav ul a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    position: relative;
    margin-right: 9px;
    cursor: pointer;

}

.account {
    background-color: orange;
    border-radius: 3px;
}




.account .link {
    color: white;
    text-transform: capitalize;

}

.fa-circle-user {
    padding: 4px;
    background-color: orange;
    color: white;
    border-radius: 3px;

}

.header-quote .fa-circle-user {
    /* padding: 7px; */
    font-size: 27px;
}

.account i {
    color: white;
    margin-right: 5px;
}

.icons i {
    color: white;
    font-size: .55rem;
    background-color: rgb(96, 96, 212);
    padding: .45rem;
    text-align: center;
    border-radius: 50%;
}

.icons i:hover {
    background-color: blue;
    transition: all 1s;
}

.faq {
    padding: 2px 9px;
    background: transparent;
    border: 1px solid rgb(97, 16, 248);
    color: white;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 3px;
}

.description {
    padding: 15px;
}

.description p {
    color: blue;
    margin-bottom: 0;
    font-weight: 900;
    font-size: .7rem;
}

.fa-star {
    color: orange;
    font-size: 9px;
}


.image img {
    border-radius: 50%;
}


@media(max-width:800px) {
    .swiper-slide {
        flex-direction: column;
        justify-content: space-between;
        /* padding: 4%; */
    }

    .swipe {
        width: 10%;
        margin: auto;
        padding: 0;
        justify-content: center;
    }

    .enquiry {
        justify-content: space-between;

    }

    .image {
        width: 50%;
        margin: auto;
        margin-top: 9%;
    }

    .swiper-content,
    .swipe {
        width: 100%;
    }
}





@media(max-width:500px) {
    .swiper nav button {
        display: none;
    }

    .icons {
        padding: 0;
    }


}

.product {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    gap: 1rem;
    text-align: center;
}

.product a {
    font-size: 1rem;
    font-weight: 700;
    color: rgb(71, 50, 50);
    background-color: white;
    padding: 1px 9px;
    border-radius: 50px;
}

.product h6 {
    color: red;
    font-weight: 900;
    font-size: 1rem;
}

.product h4 {
    color: orange;

}

.deals-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    gap: 2rem;
    width: 90%;

}

.product-icon img {
    width: 30px;
    margin: auto;

}

.deals-container {
    width: 100%;
    margin-bottom: 2rem;
}


.deals {
    display: flex;
    flex-direction: column;
    width: 25%;
    box-shadow: 1px 1px 5px 0px rgb(58, 57, 56);
    /* background-color: #e0dada; */
    cursor: pointer;
    transition: all .21s ease-in-out;
}

.deals:hover {
    transform: scale(1.01, 1.01);
}

.service-button,
.product-button {
    background-color: red;
    max-width: 250px;
    margin: auto;
    margin-top: 70px;
    padding: 15px;
    text-align: center;
    transition: .5s ease-in-out;

}

.service-button a,
.product-button a {
    font-size: 18px;
    color: white;
    font-weight: 600;
}

.product-button:hover,
.service-button:hover {
    color: white;
    transform: scale(1.05, 1.05);
    background-color: rgb(161, 1, 1);
}


.our-services {
    display: flex;
    width: 100%;
    border: 1px solid red;
}

.product-row {
    padding: 0 12px;
    background-color: white;
}

.product-row p {
    font-size: 0.7rem;
    color: rgb(83, 75, 75);
}

.product-row h4 {
    font-size: .9rem;
    text-align: center;
    margin-top: 9px;
    text-transform: uppercase;
    font-weight: 550;
    color: blue;
}

/* .service-button {
    margin-top: 2rem;
    padding: 8px 20px;
    width: 235px;
    color: white;
    background-color: red;
    font-size: 1.2rem;

} */

.about-us {
    margin-top: 50px;
}

.about-us h2 {
    text-align: center;
}

.about-us h2 a {
    color: rgb(64, 68, 63);
}


.testimonial .swiper {
    width: 100%;
    height: 100%;
    /* margin-top: 12px; */

}

.testimonial .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
    padding: 20px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial .swiper-slide img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-heading {
    color: rgb(78, 64, 64);
    background-color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
}

.testifiers {
    font-weight: 700;
    color: orange;
}

.solar-faq h3 {
    text-align: center;
}

.solar-faq h3 a {
    color: orange;
    font-weight: 700;
}

#accordion {
    margin: 100px auto;
    max-width: 600px;
}

#accordion li {
    list-style-type: none;
    width: 100%;
    margin-bottom: 10px;
    background: rgb(230, 220, 220);
    padding: 10px;
    border-radius: 4px;
}

#accordion li label {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    color: blue;
}

#accordion li label span {
    transform: rotate(90deg);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: blue;
}


#accordion label+input[type='radio'] {
    display: none;
}

#accordion .content {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .9s;
}

#accordion label+input[type="radio"]:checked+.content {
    max-height: 400px;
}

.footer {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(10, 10, 10, 0.925), rgba(15, 15, 20, 0.986)), url("../../public/novelPics/solar3.jpg");
}

.footer,
.footercol2top,
.footercol2bottom {
    display: flex;
}

.footercol1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 50px;
    justify-content: space-around;
}

.footercol1top {
    width: 80%;
    margin: auto;
    color: rgb(205, 201, 221);
    font-size: 14px;
}

.footercompanypics {
    width: 30%;
    margin: auto;
    margin-bottom: 17px;
}

.footercompanypics img {
    width: 100%;
}

.social-link {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 1s;
}

.social-link i:hover {
    transform: translate(-3px);
}

.footercol2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 40px;
}


.footeraddress,
.footercontact,
.footertime {
    border-right: 1px solid white;
    flex: 1;
    text-align: center;
}

.footeraddresspics,
.footercontactpics,
.footertimepics {
    padding: 10px;
}

.footeraddresspics i,
.footercontactpics i,
.footertimepics i {
    font-size: 40px;
}

.subscribeform {
    display: flex;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    border-radius: 3px;
    width: 200px;
}

.subscribeform input {
    background: transparent;
    border: none;
    font-size: 12px;
    padding: 8px 8px;
    font-weight: bolder;
    width: 100%;
}

.subscribeform input::placeholder {
    color: rgb(41, 31, 31);
}

.subscribeform button {
    width: 20%;
    border-radius: 0;
    color: white;
    font-weight: 900;
    border: none;
    background-color: orange;
    margin: 0;

}

.footercol2bottom {
    justify-content: space-between;
    width: 100%;
    color: white;
}

.quicklinks,
.company,
.footerproduct {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footercol2top {
    color: rgb(205, 200, 212);
}

.footercol2bottom ul li a {
    font-size: 13px;
    text-align: left;
    color: rgb(199, 199, 218) !important;
}

.footercontact .phonenumber {
    text-align: center;
}

.footeraddress h4,
.phonenumber h4,
.footertime h4 {
    color: white;
    font-size: 16px;
    padding: 5px 0;

}

.subscribe h4 {
    font-size: 1.25rem;
    color: white;
}

.subscribe p {
    color: rgb(155, 155, 175);
    font-size: 1rem;
}

.social-link i {
    color: white;

}

.copyright {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
    margin-bottom: 1px;
}

@media (max-width:800px) {
    .swiper nav ul {
        display: none;
    }

    .icons .fa-bars {
        display: inline-flex;
    }

    .swiper nav .rightnav {
        width: 45%;
        justify-content: flex-end;
    }

    .product {
        width: 100%;
    }

    .product h4 {
        padding: 15px;
    }


    .deals-row {
        flex-direction: column;
    }

    .deals {
        width: 90%;

    }

    .about-container {
        flex-direction: column;
        background-color: rgb(238, 225, 225);
    }




}

@media(max-width:1000px) {
    header .navbar ul li .account-list {
        left: 0px;
        width: 180px;
        padding: 0;
        top: 0px;
        background-color: red;
    }
}

@media(max-width:650px) {
    .footer {
        flex-direction: column;
    }

    .search {
        display: none;
    }

    .footercol2bottom,
    .footercol2top {
        flex-direction: column;
    }

    .social-link {
        flex-direction: row;
    }

    .subscribeform {
        width: 80%;
    }
}